@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
}

input {
	outline: none;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	border: 1px solid #000;
}

button {
	font-family: 'Montserrat', sans-serif;
	margin-top: 2%;
	font-size: 30px;
	padding: 4% 8%;
	background-color: darkorange;
	color: white;
	border-radius: 15px;
	cursor: pointer;
	&:hover{
		border: 1px solid darkorange;
		color: darkorange;
		background-color: white;
		transition: all 0.5s;
	}
}