@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import "./variables.scss";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: rgba(10, 10, 10);
	font-size: 35px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

input {
	@extend %select-input;
	padding: 2% 5%;
	margin-top: 2%;
	border-radius: 15px;
}

video {
	position: fixed;
	height: auto;
	width: 100%;
	filter: blur(6px) brightness(50%);
}

main {
	position: relative;
}

select {
	@extend %select-input;
	border-radius: 15px;
	padding: 2%;
	margin-top: 2%;
	option{
		background-color: rgba(5, 0, 44, 0.82);
		border: 1px solid rgba(5, 0, 44, 0.82);
	}
}

button {
	@extend %button;
	padding: 1% 5%;
}

label {
	margin-top: 3%;
	font-size: 28px;
}

b {
	display: block;
	margin-top: 2%;
}

a,p {
	color: rgba(255, 255, 255, 0.475);
	text-decoration: none;
	&:hover {
		color: white;
		cursor: pointer;
	}
}

.registration {
	padding-top: 10%;
	padding-bottom: 10%;
	display: flex;
	text-align: center;
	justify-content: center;
	.registration-login__flex{
		margin-top: 3%;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 400px;
	}
}