%select-input {
	color: white;
	background-color: rgb(27, 27, 27);
	outline: none;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	border: 1px solid #000;
}

%button {
	font-family: 'Montserrat', sans-serif;
	margin-top: 5%;
	font-size: 30px;
	background-color: rgb(106, 0, 255);
	color: white;
	border-radius: 15px;
	cursor: pointer;
	&:hover{
		color: rgb(106, 0, 255);
		background-color: white;
		transition: all 0.3s;
	}
	&:not(:hover) {
		color: white;
		background-color: rgb(106, 0, 255);
		transition: all 0.3s;
	}
}