%select-input {
	color: white;
	background-color: rgba(0, 0, 0, 0.236);
	outline: none;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}

@mixin button ($backgroundColor, $color) {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	background-color: $backgroundColor;
	color: $color;
	border-radius: 15px;
	cursor: pointer;
	transition: all 0.3s;
	&:hover{
		color: $backgroundColor;
		background-color: $color;
	}
}

// %button {
// 	font-family: 'Montserrat', sans-serif;
// 	font-size: 30px;
// 	background-color: rgb(106, 0, 255);
// 	color: white;
// 	border-radius: 15px;
// 	cursor: pointer;
// 	transition: all 0.3s;
// 	&:hover{
// 		color: rgb(106, 0, 255);
// 		background-color: white;
// 	}
// }